<!doctype html>
<html lang="en">

    <meta name="Header" content="width=device-width, initial-scale=1">
    <meta name="description" content="Author: Guillermo Galindo,
        Illustrator: Guillermo Galindo">

<body>
    
        <div class="login-page">

    <h3 i18n class="card-header">Partners benefits</h3>
    <div  class="card-body">

<h4 i18n> * Possibility to subscribe to our more than 500 programs</h4>
<h4 i18n> * Offers at our more than 150 collaborators </h4>
<h4 i18n> * Bounty programs and workers competitions </h4>
<h4 i18n> * Products devolutions withot cost for our VIP members </h4>
<h4 i18n> * Services availability around the world </h4>
<h4 i18n> * Best products to unbeatable </h4>
<h4 i18n> * Earn CapilarCoins for whatever service</h4>

    </div>

</div>
</body>
</html>
