<!doctype html>
<html lang="en">

  <meta name="Header" content="width=device-width, initial-scale=1">
  <meta name="description" content="Author: Guillermo Galindo,
      Illustrator: Guillermo Galindo">

<body>


  <footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
      <div class="container">
        <div style="width: 100%; margin: 0%" class="row">

          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="widget subscribe no-box">
              <h1 class="widget-title">Club Capilar<span></span></h1>
              <p><a href="assets/CNCienta.com Privacy Policy.pdf" i18n="Privaticy policy" >Privaticy Policy</a></p>
              <p><a href="*" i18n=" Registration agreement" >Registration Agreement</a></p>
              
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="widget no-box">
              <h1 class="widget-title" i18n=" Quick links" >QUICK LINKS<span></span></h1>
              <ul class="thumbnail-widget">

                <li>
                  <div class="thumb-content" i18n=" Menu category" ><a href="./home">Home</a></div>
                </li>
                <li>
                  <div class="thumb-content" i18n=" Menu category" ><a href="./institute">Institute</a></div>
                </li>
                <li>
                  <div class="thumb-content" i18n=" Menu category" ><a href="./labs">Labs</a></div>
                </li>
                <li>
                  <div class="thumb-content" i18n=" Menu category" ><a href="./partners">Partners</a></div>
                </li>
                <li>
                  <div class="thumb-content" i18n=" Menu category" ><a href="./programs">Programs</a></div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="widget no-box">
              <h1 class="widget-title" i18n=" Get started" >GET STARTED<span></span></h1>
              <p i18n=" Get access to your enviroment" >Get access to your full work enviroment</p>
              <a class="btn" href="/register" target="_blank" i18n=" Register now" >Register Now</a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-3">

            <div class="widget no-box">
              <h1 class="widget-title" i18n=" Contact" >CONTACT US<span></span></h1>

              <a href="mailto:support@cncienta.com">support@capilarclub.com</a>

              <div class="row iconbar" style=" padding-top: 1%;">
               
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://web.facebook.com/cadeos.io"
                    target="_blank">
                    <img   alt="faceook" src="/assets/facebook.png" class="footericons">
                  </a>
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://twitter.com/cadeosi" target="_blank">
                    <img alt="twitter" src="/assets/twitter.png" class="footericons">
                  </a>
        
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://t.me/cadeos" target="_blank">
                    <img alt="telegram" src="/assets/telegram.png" class="footericons">
                  </a>
        
        
                </div>
                <div class="footericons">
                  <a href="whatsapp://call?number+15817770087" class="padding-top-subtitle" rel="noopener">
                    <img alt="whatsapp" src="/assets/whatsapp.png" class="footericons">
                  </a>
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://t.me/cadeos" target="_blank">
                    <img alt="instagram" src="/assets/instagram.png" class="footericons">
                  </a>

                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://t.me/cadeos" target="_blank">
                    <img  alt="linkedin" src="/assets/linkedin.png" class="footericons">
                  </a>

                </div>

              </div>
            
          </div>
        </div>

        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 style="color: white;" i18n=" Copyright creator" >Copyright CNCienta.com © 2020. All rights reserved.</h2>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
