
<!doctype html>
<html lang="en">

    <meta name="Header" content="width=device-width, initial-scale=1">
    <meta name="description" content="Author: Guillermo Galindo,
        Illustrator: Guillermo Galindo">

<body>

<div class="col iconbar" style=" padding-top: 10%;">
               
    <div class="footericons">
      <a href="https://instagram.com/clubcapilar"><img id="facebook" class="footericons" src="/assets/facebook.png" alt="facebook"></a>
    </div>

    <div class="footericons" >
        <a href="https://instagram.com/clubcapilar"><img href="·" alt="twitter" src="/assets/twitter.png" class="footericons"></a>
    </div>

    <div class="footericons">
        <a href="https://instagram.com/clubcapilar"><img href="·" alt="telegram" src="/assets/telegram.png" class="footericons"></a>
    </div>

    <div class="footericons">

        <a href="whatsapp://call?number+15817770087"><img href="·" alt="whatsapp" src="/assets/whatsapp.png" class="footericons"></a>
    </div>

    <div class="footericons">

        <a href="https://instagram.com/clubcapilar"><img  alt="instagram" src="/assets/instagram.png" class="footericons"></a>
    </div>

    <div class="footericons">

        <a href="https://instagram.com/clubcapilar"><img href="#" alt="linkedin" src="/assets/linkedin.png" class="footericons"></a>
    </div>

</div>

</body>
</html>