.login-card {

  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.466);
  background-clip: border-box;
  border: 0.1px solid rgb(0, 0, 0);
  width: 40%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 30%;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: relative;
 }

 .btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #484848;
}

.background {

  position: absolute;
  margin-top: -0.3%;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 110%;
  
  }

  a {
    color: #555555;
    text-decoration: none;
    background-color: transparent;
    margin-left: 3%;
}

a:hover {
  background-color: rgb(0, 0, 0);
}

a:link, a:visited {
  background-color: #aaaaaa00;
  color: rgb(0, 0, 0);
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(119, 119, 119);
  color: rgb(255, 255, 255);
}

a:active {
  color: rgb(0, 247, 255);
}
