<div class="main">


 <img class="image" src={{admin.image}}>
<h1> {{admin.name}} </h1>


  <h2>
      <a href="/admin/dashboard">Dashboard</a>
  </h2>

  <h2>
    <a href="/admin/calendar">Calendar</a>
  </h2>

  <h2>
    <a href="/admin/workers">Workers</a>
  </h2>

  <h2>
    <a href="/admin/customers">Customers</a>
  </h2>

  <h2>
    <a href="/admin/products">Products</a>
  </h2>

  <h2>
    <a href="/admin/orders">Orders</a>
  </h2>

  <h2>
    <a href="/admin/services">Services</a>
  </h2>

  <h2>
    <a href="/admin/services">Offers</a>
  </h2>

</div>
