<div class="products">

    <table class="table table-striped">
        
        <tbody>
            <tr *ngFor="let product of products">
                <td><img class="image" src={{product.image}}></td>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}$</td>
    
    
            </tr>
            <tr *ngIf="!products">
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
      </table>

    </div>
   
