
.institutes {

    position: relative;
    margin-left: 15%;
    background-color: #ffffff64;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 2%;
    vertical-align: middle;
    width: 70%;
    z-index: 2000;
    
    }
    
    
    .image{
    
        width: 100%;
        border-radius: 50%;
        align-items: center;
        align-content: center;
    
        }

        .table td, .table th {
            padding: .75rem;
            vertical-align: top;
            border-top: 0.1px solid #000000;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }